body {
    background-color: #f5f5f5; /* Off-white background color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #57b12d; /* Navigation menu color */
    text-decoration: none;

}

.main-content {
    display: flex;
}

.left-column {
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

.left-column h1 {
    padding-bottom: 40px;
    font-size: 1.9em;
}

.right-column {
    flex: 1;
    padding-left: 35px;
    margin-top: 50px;
}

.logo {
    width: 40px; /* Adjust as needed */
    height: auto;
}

.main-image {
    width: 100px;
}

.tagline {
    color: #57b12d;
    width: 500px;
    margin-left: 45px;
    margin-top: 40px;
    font-size: 1.5em;
}

.news-articles {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%; 
    padding: 10px 0;
}

.column h3 {
    font-size: 1em;
}

.subheader {
    font-size: 0.5em;
}

.subheader {
    font-size: 14px;
    color: #888;
}

